In [ ]:
import pandas as pd
import numpy as np  
import seaborn as sns
import matplotlib.pyplot as plt
import  warnings
warnings.filterwarnings('ignore')

import os
import re
from collections import Counter

In [2]:
#Loading the dataset
df = pd.read_excel(r"C:\Users\gopic\Downloads\1000 leads.xlsx")
df.head(3)

,Lead Name,Location,Status,Status information
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn..."
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema..."
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr

In [3]:
#striping the column names
df.columns = [c.strip() for c in df.columns]

In [4]:
#Normalize the 'Status' values

def normalize_status(s):
    if pd.isna(s):
        return None
    s2 = str(s).strip().lower()
    if 'convert' in s2:
        return 'Converted'
    if 'not' in s2 or 'no' in s2:
        return 'Not Converted'
    return s.strip().title()

df['status_cleaned'] = df['Status'].apply(normalize_status)

df.head()

,Lead Name,Location,Status,Status information,status_cleaned
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",Converted
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",Converted
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,Converted
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,Converted
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",Converted

In [5]:
# Creating a assumptions Converted tp Interested and Not Converted to Not Interested

def interest_status(s):
    if s == 'Converted':
        return 'Interested'
    elif s == 'Not Converted':
        return 'Not Interested'
    else:
        return 'Unknown'
    
df['interest_status'] = df['status_cleaned'].apply(interest_status)

df.head()

,Lead Name,Location,Status,Status information,status_cleaned,interest_status
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",Converted,Interested
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",Converted,Interested
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,Converted,Interested
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,Converted,Interested
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",Converted,Interested

In [7]:
#Extracting the business executive names from 'Status Information

def extract_executive(s):
    if pd.isna(s):
        return 'Unknown'
    m = re.search(r'\(([A-Za-z0-9 _-]+)\)', str(s))
    if m:
        name = m.group(1).strip().lower()
        return name.title()
    return 'Unknown'

df['business_executive'] = df['Status information'].apply(extract_executive)

df.head()

,Lead Name,Location,Status,Status information,status_cleaned,interest_status,business_executive
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",Converted,Interested,Unknown
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",Converted,Interested,Unknown
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,Converted,Interested,Unknown
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,Converted,Interested,Surendra
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",Converted,Interested,Unknown

In [ ]:
# Adding a new columns

keywords = ['interested' , 'demo' , 'later' , 'call' , 'details' , 'share' , 'info' , 'mail']

for kw in keywords:
    df[f'kw_{kw}'] = df['status information'].fillna('').str.lower().apply(lambda x : 1 if kw in x else 0)

In [11]:
# Basic EDA

print("Dataset Shape:", df.shape)

print('\n')

print('columns:', df.columns.tolist())

print('\n')

print('Status_cleaned value counts:\n', df['status_cleaned'].value_counts())

print('\n')

print('Interest_status value counts:\n', df['interest_status'].value_counts())

print('\n')

print('Top 10 executives:\n', df['business_executive'].value_counts().head(10))

Dataset Shape: (1001, 7)


columns: ['Lead Name', 'Location', 'Status', 'Status information', 'status_cleaned', 'interest_status', 'business_executive']


Status_cleaned value counts:
 status_cleaned
Converted    991
Conveted       7
Name: count, dtype: int64


Interest_status value counts:
 interest_status
Interested    991
Unknown        10
Name: count, dtype: int64


Top 10 executives:
 business_executive
Unknown      318
Surendra     287
Prema        192
Soma         129
Gowtham       69
Amar           1
Sankar         1
Mohan          1
Ankan Bro      1
Medium         1
Name: count, dtype: int64

In [12]:
#save the cleaned dataset

df.to_csv(r"C:\Users\gopic\Downloads\1000 leads cleaned.csv", index=False)
print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.